---
import { getCollection } from "astro:content";
import ListTile from "./ListTile.astro"

const pages = (await getCollection("pages")).sort(
  // sort newest to the top
  (a, b) => new Date(b.id).valueOf() - new Date(a.id).valueOf(),
);
---

<div class="mt-12 flex flex-col gap-2">
    {
    pages.length > 0 ?
    pages.map((page) => (
        <ListTile page={page} />
    ))
    :
    "none yet :("
    }
</div>
